# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/

# Poetry
.venv/
poetry.toml

# Environments
.env
.env.*
!.env.example

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# VS Code
.vscode/*.code-workspace

# OS files
.DS_Store
Thumbs.db
